source https://api.nuget.org/v3/index.json

storage: none
framework: netstandard2.0, net5

nuget FSharp.Core = 4.7.2
nuget Plough.ControlFlow >= 0.4.2
nuget Plough.WebApi.Core >= 0.2.3
nuget Plough.WebApi.Server.Giraffe >= 0.2.3

nuget Thoth.Json.Net
nuget Thoth.Json
nuget Fable.Core
nuget Fable.Fetch
nuget Giraffe
nuget System.IdentityModel.Tokens.Jwt
nuget Microsoft.AspNetCore.Authentication.Cookies
nuget Microsoft.AspNetCore.Authentication.JwtBearer
nuget Microsoft.AspNetCore.Authentication.OAuth
nuget AWSSDK.CognitoIdentityProvider
nuget AWSSDK.KeyManagementService
nuget Amazon.AspNetCore.DataProtection.SSM