source https://api.nuget.org/v3/index.json
storage: none
framework: netstandard2.0, net6.0

nuget FSharp.Core >= 6.0.1 lowest_matching: true
nuget Plough.ControlFlow 1.0.1

nuget Giraffe >= 5.0.0
nuget Thoth.Json.Net >= 7.1.0
nuget Thoth.Json >= 6.0.0
nuget Fable.Core >= 3.6.1
nuget Fable.Fetch >= 2.4.0

nuget System.IdentityModel.Tokens.Jwt >= 6.15.0
nuget Microsoft.AspNetCore.Authentication.Cookies >= 2.2.0
nuget Microsoft.AspNetCore.Authentication.JwtBearer >= >= 6.0.1
nuget Microsoft.AspNetCore.Authentication.OAuth >= 2.2.0
nuget AWSSDK.CognitoIdentityProvider >= 3.7.1.81
nuget AWSSDK.KeyManagementService >= 3.7.2.54
nuget Amazon.AspNetCore.DataProtection.SSM >= 2.1.0


// [ FAKE GROUP ]
group Build
  source https://api.nuget.org/v3/index.json
  framework: net6.0
  storage: none

  nuget Fake.Api.GitHub
  nuget Fake.BuildServer.TeamFoundation
  nuget Fake.Core.Environment
  nuget Fake.Core.Process
  nuget Fake.Core.ReleaseNotes
  nuget Fake.Core.Target
  nuget Fake.Core.Xml
  nuget Fake.DotNet.AssemblyInfoFile
  nuget Fake.DotNet.Cli
  nuget Fake.DotNet.MSBuild
  nuget Fake.Dotnet.NuGet
  nuget Fake.DotNet.Paket
  nuget Fake.Tools.Git
  nuget Fake.DotNet.Testing.XUnit2
  nuget Fake.IO.FileSystem
  nuget Fake.IO.Zip
